body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 14px;
}

#root {
  margin: 30px 50px;
}

.todos {
  list-style-type: none;
  padding-left: 0;
}

.todos li {
  background-color: #F5F5F5;
  padding: 10px;
  width: 278px;
  margin-bottom: 5px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  border: 1px solid #949090;
  border-radius: 2px;
}

.todos li:after {
  content: "\f096";
  font-family: FontAwesome;
  margin-left: 5px;
  position: absolute;
  right: 8px;
  font-size: 18px;
}

.todos li.completed {
  color: grey;
  text-decoration: line-through;
}

.todos li.completed:after {
  content: "\f14a";
  font-family: FontAwesome;
  margin-left: 5px;
}

input {
  margin-right: 5px;
  padding: 4px;
  width: 200px;
}

button {
  border: 1px solid #949090;
  border-radius: 2px;
  padding: 5px 10px;
  background: #F5F5F5;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #D1D1D1;
}

.filters {
  border: 1px solid #949090;
  padding: 10px;
  width: 278px;
  border-radius: 2px;
  font-weight: bold;
}

.filters a {
  text-decoration: none;
  color: #298eea;
}

.filters a:hover {
  text-decoration: underline;
  color: #666;
}

.filters span {
  color: #666;
}


